// Gotham-book-font
@font-face {
  font-family: "jbm-regular";
  src: url("../fonts/JetBrainsMono-Regular.otf");
}
// Gotham-book-bold
@font-face {
  font-family: "jbm-bold";
  src: url("../fonts/JetBrainsMono-Bold.otf");
}
// Gotham-light
@font-face {
  font-family: "jbm-light";
  src: url("../fonts/JetBrainsMono-light.otf");
}

// Gotham-light
@font-face {
  font-family: "jbm-medium";
  src: url("../fonts/JetBrainsMono-Medium.otf");
}
 